$enable-responsive-font-sizes: true;

@import "~bootstrap/scss/bootstrap";

.hide {
    display: none;
}

.game {
    .game-title {
        line-height: 0.9;
    }

    .game-id {
        font-size: 1rem;
    }
}

#version {
    font-size: 1.5rem;
}
