@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";

@import "~xterm/css/xterm.css";

html, body, #terminal {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    cursor: text;
}

@import "chesstalk";
